@page "/note/{NoteId:int}"
@using ElevenNoteWebApp.Shared.Models.Note
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]
@inject HttpClient http

<h3>Note #@NoteId</h3>
@if(Note != null)
{
    <div class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span>Note #@Note.Id</span>
                <span class="text-muted"><strong>@Note.CategoryName</strong></span>
            </div>
            <div class="card-body">
                <h4 class="card-title">@Note.Title</h4>
                <p class="card-text">@Note.Content</p>
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                <span class="text-left">Created: @Note.CreatedUtc</span>
                @if (Note.ModifiedUtc != null)
                {
                    <span class="text-right">Modified: @Note.ModifiedUtc</span>
                }
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="text-center justify-content-between w-25">
                <a href=@($"/note/edit/{NoteId}") class="btn btn-outline-primary">Edit</a>
                <a href=@($"/note/delete/{NoteId}") class="btn btn-outline-danger">Delete</a>
                <hr />
                <a href="/note">Back to Notes Index</a>
            </div>
        </div>
    </div>
}
else
{
    <p><em>Loading...</em></p>
}

@code {
    [Parameter]
    public int NoteId { get; set; }
    public NoteDetail Note { get; set; }
    protected override async Task OnInitializedAsync()
    {
        Note = await http.GetFromJsonAsync<NoteDetail>($"/api/note/{NoteId}");
    }
}
